$white: #fff;
$blue: #1b67a5;
$blue-hover:#08487c;
$background-one: #efeef4;

.background-white{
    background-color: $white;
}
.content-mbm{
    h2{
        font-family: 'UniSansThin', sans-serif;
    }
}
ul{
    padding-left: 0;
    li{
         font-family: 'UniSansThin', sans-serif;
    }
}
.count{
    font-family: 'UniSansHeavy', sans-serif;
}
label{
    font-family: 'UniSansThin', sans-serif;
}
#splash-banner{
    background-image: url(../img/banner.png) ;
    background-repeat: no-repeat;
    background-size: cover;

}
.radius{
    border-radius: 50%;
    width: 260px;
}
.text-white{
    color: $white;
}
.text-blue{
    color: $blue;
}
.background-blue{
    background-color: $blue;
}
.background-grey{
    background-color: $background-one;
}
.button-register{
    padding: 5px 20px;
    margin-right: 5px;
    border-color: $blue;
}
.button-register:hover{
    background-color: $blue-hover; 
}
.btn-contact{
    border-color: $blue;
}
.btn-contact:hover{
    background-color: #eee;
}
ul.list{
    li{
        display: inline-block;
        list-style: none;
        margin: 0 10px;
        a{
            i{
                color: $white;
            }
        }
    }
}
ul{
    li{
        list-style: none;
    }
}


/*Menu*/
.pure-menu-list{
    li{
        a{
            font-weight: bold;
        }
    }
}


.author-vb{
    h2{
        margin-bottom: -6px;
    }
}

.content-training {
    img{
        width:80px;
    }
    h3{
        text-transform: uppercase;
        line-height: 21pt;
    }
}
a{
    text-decoration: none;
}
.button{
    background-color: $blue;
    color: $white;
    padding: 10px 40px;
    font-size: 16pt;
}
.button:hover{
    background-color: $blue-hover;
}

.background-one{
    background-color: $background-one;
}
.banner-two{
    background-image: url(../img/banner2.png);
    background-size: cover;
}
.count{
    font-size: 50pt;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 10px;
}
.detail-count{
    font-size: 18pt;
}
.padding-bottom-30{
    padding-bottom: 30px;
}
iframe#video {
    width: 100%;
}
.content-register{
    h2{
        margin-bottom: 0;
       
    }
     .text-thin{
         font-family: 'UniSansThin', sans-serif;
         margin-top: 0;
    }
}
p{
    margin-bottom: 0;

}
.text-red{
    color: red;
}
footer{
    background-color: $blue;
    color: $white;
    padding: 10px 0;
}
.back-two{
    color:#504d4d;
    font-family: 'UniSansThin', sans-serif;
}
 .author{
        width: 100%;
    }


@media (min-width: 450px) {
   .author{
        width: 340px;
    }
}

@media (min-width: 751px) {
    
    .count{
        margin-top: 45px;
    }
    iframe#video {
        width: 60%;
    }
}
@media (min-width: 751px) {
    
}